body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/city.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  line-height: 0px;
  padding: 0 10px;
  font-size: 32px;
}

h2 {
  display: inline-block;
  font-size: 95px;
  line-height: 1;
}

h3 {
  font-size: 23px;
  margin: 0 auto 15px;
}
h4 {
  font-size: 21px;
  line-height: 28px;
}

p {
  font-size: 18px;
  line-height: 21px;
  margin: 6px auto 0;
}

@media (max-width: 575px) {
  h2 {
    font-size: 80px;
  }
  h4 {
    font-size: 18px;
  }

  p {
    font-size: 17px;
  }

  img {
    width: 80px;
  }
}
