.CurrentWeather {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(75, 75, 75, 0.55);
  margin: 0 10px 30px;
}

.current-weather-main {
  height: 95px;
  margin: 30px auto 40px;
}

.temperature-unit {
  display: inline-block;
  position: relative;
  top: -38px;
  font-size: 40px;
}

.description {
  text-transform: capitalize;
  font-size: 36px;
  margin: 6px auto 10px;
}

@media (max-width: 767px) {
  .current-weather-main {
    height: auto;
    margin: 25px auto 50px;
  }

  .description {
    margin: 0 auto 35px;
    font-size: 32px;
  }

  .feels-like {
    padding-top: 20px;
    font-size: 21px;
  }
}

@media (max-width: 575px) {
  .description {
    font-size: 32px;
  }
  .temperature-unit {
    font-size: 35px;
    top: -31px;
  }
}
