.WeatherDetails {
  position: fixed;
  top: 0;
  right: 0;
  transition: all 300ms ease-in-out;
  display: flex;
  left: 0;
  bottom: 0;
  flex-direction: column;
}

.WeatherDetails .main-container {
  height: calc(100% - 80px);
  overflow-y: scroll;
  scrollbar-width: 0;
  width: 100%;
  padding-inline: 24px;
  background-color: var(--main-color-tr);
}

.WeatherDetails .close-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 0;
  width: 100%;
  height: 80px;
  position: relative;
}

.WeatherDetails .close-btn::after {
  content: "";
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -1px;
  left: 24px;
}

.WeatherDetails .close-btn span {
  font-size: 48px;
}

::-webkit-scrollbar {
  width: 0;
}

.WeatherDetails h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 72px;
  margin-bottom: 52px;
}

.CurrentWeatherIndicators {
  border-bottom: 1px solid var(--text-color);
}

.CurrentWeatherIndicators li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.CurrentWeatherIndicators li:last-of-type {
  margin-bottom: 60px;
}

.CurrentWeatherIndicators li span {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}
.CurrentWeatherIndicators li span:last-of-type {
  font-weight: 400;
}

.WeatherForecast li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.WeatherForecast li:last-of-type {
  margin-bottom: 60px;
}

.WeatherForecast li > span {
  display: flex;
  flex-direction: column;
}

.WeatherForecast li > span:last-of-type {
  align-items: flex-end;
}

.WeatherForecast .forecast-temp {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 8px;
}
.WeatherForecast .forecast-descr {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
.WeatherForecast .forecast-day {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 8px;
}
.WeatherForecast .forecast-date {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

@media (min-width: 550px) {
  .WeatherDetails .main-container {
    padding-inline: 64px;
    height: calc(100% - 88px);
  }
  .WeatherDetails .close-btn {
    height: 88px;
  }

  .WeatherDetails .close-btn::after {
    width: calc(100% - 128px);
    left: 64px;
  }
}

@media (min-width: 1100px) {
  .WeatherDetails {
    flex-direction: row;
    left: unset;
    bottom: unset;
    height: 100%;
  }

  .WeatherDetails .main-container {
    width: 496px;
    background-color: var(--main-color);
    padding-inline: 52px;
    height: 100%;
  }

  .WeatherDetails .close-btn {
    height: 92px;
    width: 58px;
    background-color: var(--main-color);
  }
}

@media (min-width: 700px) and (max-height: 550px) {
  .WeatherDetails {
    flex-direction: row;
    left: unset;
    bottom: unset;
    height: 100%;
  }

  .WeatherDetails .main-container {
    width: 496px;
    background-color: var(--main-color);
    padding-inline: 52px;
    height: 100%;
  }

  .WeatherDetails .close-btn {
    height: 72px;
    width: 58px;
    background-color: var(--main-color);
  }

  .WeatherDetails h3:first-of-type {
    margin-top: 48px;
  }
}
