:root {
  --main-color: black;
  --second-color: black;
  --third-color: black;
  --fourth-color: black;
  --text-color: white;
  --main-color-tr: black;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.Weather {
  height: 100%;
  width: 100%;
  color: var(--text-color);
}

.WeatherMainInfo {
  margin-left: 24px;
  margin-right: 24px;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 120px;
}

p.TimeAndDate {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.MainInfoTempBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 116px;
}

.CurrentTemp {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.CurrentTemp .temp-digit {
  font-size: 120px;
  line-height: 92px;
  font-weight: 400;
}

.CurrentTemp .temp-unit {
  font-size: 44px;
  line-height: 40px;
  font-weight: 400;
}

.temp-descr .description {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
}

.temp-descr .FeelsLike {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.MainInfoMenuBtns {
  display: none;
}

.mobile {
  display: block;
}

.details-mob-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border: none;
  background-color: var(--main-color-tr);
}

.details-mob-btn::before {
  content: "";
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: -1px;
  left: 24px;
}

.details-mob-btn span {
  font-size: 48px;
}

.search-mob-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-mob-btn::after {
  content: "";
  display: block;
  width: calc(100% - 48px);
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -1px;
  left: 24px;
}

.search-mob-btn span {
  font-size: 36px;
  margin-right: 24px;
}

button {
  color: var(--text-color);
  cursor: pointer;
}

@media (min-width: 700px) {
  .WeatherMainInfo {
    margin-left: 64px;
    margin-right: 64px;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 12px;
    margin-top: 148px;
  }

  p.TimeAndDate {
    font-size: 32px;
    line-height: 32px;
  }

  .MainInfoTempBlock {
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 168px;
  }

  .CurrentTemp {
    align-items: flex-start;
    margin-right: 52px;
    margin-bottom: 0;
  }

  .CurrentTemp .temp-digit {
    font-size: 160px;
    line-height: 120px;
  }

  .CurrentTemp .temp-unit {
    font-size: 60px;
    line-height: 52px;
  }

  .temp-descr .description {
    font-size: 52px;
    margin-bottom: 12px;
  }

  .temp-descr .FeelsLike {
    font-size: 40px;
    line-height: 40px;
  }

  .details-mob-btn {
    height: 88px;
  }

  .search-mob-btn {
    height: 88px;
  }

  .search-mob-btn::after {
    width: calc(100% - 128px);
    left: 64px;
  }

  .details-mob-btn::before {
    width: calc(100% - 128px);
    left: 64px;
  }
}

@media (min-width: 1100px) {
  .WeatherMainInfo {
    margin-left: 80px;
    margin-right: 0;
  }

  h1 {
    margin-top: 60px;
  }

  .MainInfoTempBlock {
    margin-bottom: 60px;
    padding-bottom: 0;
    border: none;
  }

  .MainInfoMenuBtns {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 200ms linear;
  }

  .btn {
    width: 92px;
    height: 92px;
    border: none;
    border-radius: 0;
    font-size: 36px;
  }

  .btn span {
    font-size: 36px;
  }

  .btn:nth-child(1) {
    background-color: var(--main-color);
  }
  .btn:nth-child(2) {
    background-color: var(--second-color);
  }
  .btn:nth-child(3) {
    background-color: var(--third-color);
  }
  .btn:nth-child(4) {
    background-color: var(--fourth-color);
  }

  .mobile {
    display: none !important;
  }
}

@media (min-width: 650px) and (max-height: 550px) {
  .WeatherMainInfo {
    margin-left: 48px;
    margin-right: 0;
  }

  h1 {
    margin-top: 24px;
    font-size: 40px;
    line-height: 40px;
  }

  p.TimeAndDate {
    font-size: 20px;
    line-height: 20px;
  }

  .MainInfoTempBlock {
    margin-bottom: 24px;
    padding-bottom: 0;
    border: none;
  }

  .CurrentTemp {
    margin-right: 24px;
  }

  .CurrentTemp .temp-digit {
    font-size: 120px;
    line-height: 92px;
  }

  .CurrentTemp .temp-unit {
    font-size: 44px;
    line-height: 40px;
  }

  .temp-descr .description {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 8px;
  }

  .temp-descr .FeelsLike {
    font-size: 28px;
    line-height: 24px;
  }

  .MainInfoMenuBtns {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: all 200ms linear;
  }

  .btn {
    width: 72px;
    height: 72px;
    border: none;
    border-radius: 0;
    font-size: 36px;
  }

  .btn span {
    font-size: 32px;
  }

  .btn:nth-child(1) {
    background-color: var(--main-color);
  }
  .btn:nth-child(2) {
    background-color: var(--second-color);
  }
  .btn:nth-child(3) {
    background-color: var(--third-color);
  }
  .btn:nth-child(4) {
    background-color: var(--fourth-color);
  }

  .mobile {
    display: none !important;
  }
}
