.WeatherDetails {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 300ms ease-in-out;
  height: 100%;
  display: flex;
}

.WeatherDetails .main-container {
  width: 496px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: 0;
  background-color: #abc2d2;
  padding-inline: 52px;
}

.WeatherDetails .close-btn {
  height: 92px;
  width: 58px;
  background-color: #abc2d2;
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.WeatherDetails h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 72px;
  margin-bottom: 52px;
}

.CurrentWeatherIndicators {
  border-bottom: 1px solid #000;
}

.CurrentWeatherIndicators li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.CurrentWeatherIndicators li:last-of-type {
  margin-bottom: 60px;
}

.CurrentWeatherIndicators li span {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
}
.CurrentWeatherIndicators li span:last-of-type {
  font-weight: 400;
}

.WeatherForecast li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.WeatherForecast li:last-of-type {
  margin-bottom: 60px;
}

.WeatherForecast li > span {
  display: flex;
  flex-direction: column;
}

.WeatherForecast li > span:last-of-type {
  align-items: flex-end;
}

.WeatherForecast .forecast-temp {
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 8px;
}
.WeatherForecast .forecast-descr {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}
.WeatherForecast .forecast-day {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 8px;
}
.WeatherForecast .forecast-date {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}
